{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h1 class="mt-5 mb-4">Our Hotel Services</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'img/de.jpeg' %}" class="card-img-top" alt="Service 1">
                    <div class="card-body">
                        <h5 class="card-title">Luxurious Accommodations</h5>
                        <p class="card-text">Experience our luxurious rooms and suites designed for comfort and relaxation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'img/ho.jpeg' %}" class="card-img-top" alt="Service 2">
                    <div class="card-body">
                        <h5 class="card-title">Fine Dining Experience</h5>
                        <p class="card-text">Indulge in a culinary journey with our exquisite dining options and impeccable service.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'img/de2.jpeg' %}" class="card-img-top" alt="Service 3">
                    <div class="card-body">
                        <h5 class="card-title">Event Planning Services</h5>
                        <p class="card-text">Host memorable events with our professional event planning services and versatile venues.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
